body {
    background: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#terminal-container {
    width: 100vw;
    height: 100vh;
    padding: 0 20px; /* Odsadenie len zlava a zprava */
    box-sizing: border-box;
}